@import "variables.css";
@import "theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: poppins, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

@keyframes changePlaceRight {
    0% {
        right: 10px;
        bottom: 0;
        opacity: 0;
        width: 0px;
    }
    20% {
        right: 70px;
        bottom: 30px;
        opacity: .5;
        width: 200px;
    }
    40% {
        right: 10px;
        bottom: 100px;
        opacity: .8;
        width: 120px;
    }
    60% {
        right: 20px;
        bottom: 50px;
        width: 30px;
        opacity: 0;
    }
    100% {
        right: 120px;
        bottom: 120px;
        width: 80px;
        opacity: .4;
    }
}

@keyframes changePlaceLeft {
    0% {
        left: 10px;
        bottom: 0;
        opacity: 0;
        width: 0px;
    }
    20% {
        left: 70px;
        bottom: 30px;
        opacity: .5;
        width: 200px;
    }
    40% {
        left: 10px;
        bottom: 100px;
        opacity: .8;
        width: 120px;
    }
    60% {
        left: 20px;
        bottom: 50px;
        width: 30px;
        opacity: 0;
    }
    100% {
        left: 120px;
        bottom: 120px;
        width: 80px;
        opacity: .4;
    }
}

@keyframes toggleIn {
    0% {
        opacity: 0.3;
        color: greenyellow;
    }
    100% {
        opacity: 1;
        color: white;
    }
}

@keyframes toggleInLight {
    0% {
        opacity: 0.5;
    }
    30% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.loading {
    display: none
}

.no-saturation .react-colorful__saturation {
    display: none;
}

.noscrollbar::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}

:focus {
    outline: none !important;
}

.tableRow {
    border-bottom-width: 1px;
    border-bottom-color: var(--color-surface-1);
}

button {
    position: relative;
    overflow: hidden;
    transition: background 400ms;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--color-primary);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

body {
    font-size: 13px;
    padding: 0px;
}

.searchSpinner {
    border-top-color: var(--color-onSurfaceMedium);
    -webkit-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
