
.liskScan-daylight {
    /* LISK KLEUREN TOEGEVOEGD */
    --color-lisk-zodiac-blue: hsl(224, 59%, 11%);
    --color-lisk-ultramarine-blue: #335ed4;
    --color-lisk-ink-blue: hsl(222, 61%, 37%);

    --color-lisk-silver-gray: #c5cfe4;
    --color-lisk-platinum-gray: hsl(218, 42%, 91%);
    --color-lisk-athens-white: hsl(210, 33%, 98%);

    --color-lisk-ufo-green: hsl(148, 68%, 50%);
    --color-lisk-ufo-green-opacity: hsl(148, 68%, 93%);
    --color-lisk-ufo-green-opacity-dark: hsl(152, 30%, 17%);
    --color-lisk-copacabana-yellow: hsl(51, 90%, 70%);
    --color-lisk-candy-pink: hsl(359, 100%, 91%);
    --color-lisk-fury-red: hsl(354, 100%, 64%);
    --color-lisk-white: hsl(0, 0%, 98%);
    /*--color-text: var(--color-morph-2-800);*/

    --color-primaryLight: hsl(var(--theme-primary), 77%, 60%, 1);
    --color-primary: hsl(var(--theme-primary), 69%, 52%, 1);
    --color-primaryDark: hsl(var(--theme-primary), 72%, 44%, 1);

    --color-onPrimary: var(--color-lisk-white);
    --color-onPrimaryHigh: hsl(var(--theme-primary), 100%, 20%);
    --color-onPrimaryMedium: hsl(var(--theme-primary), 90%, 25%);
    --color-onPrimaryLow: hsl(var(--theme-primary), 70%, 35%);

    --color-secondary: hsl(calc(var(--theme-primary) + 180), 69%, 52%, 1);
    --color-onSecondary: hsl(calc(var(--theme-primary) + 180), 90%, 90%);

    --color-onSurfaceLinkHigh: hsl(var(--theme-primary), 69%, 52%, 1);
    --color-onSurfaceLinkMedium: hsl(var(--theme-primary), 69%, 52%, 1);
    --color-onSurfaceLinkLow: hsl(var(--theme-primary), 69%, 52%, 1);

    --color-onPrimaryLinkHigh: hsl(var(--theme-primary), 69%, 52%, 1);
    --color-onPrimaryLinkMedium: hsl(var(--theme-primary), 69%, 52%, 1);
    --color-onPrimaryLinkLow: hsl(var(--theme-primary), 69%, 52%, 1);

    --color-header: var(--color-background);
    --color-onHeader: var(--color-background);
    --color-topbar: hsl(var(--theme-primary), 69%, 52%);
    --color-onTopbar: hsl(var(--theme-primary), 100%, 94%);
    --color-menuButton: var(--color-primaryLight);
    --color-onMenuButton: var(--color-onPrimaryHigh);
    --color-infobar: hsl(var(--theme-primary), 72%, 44%, 1);
    --color-onInfobar: hsl(var(--theme-primary), 100%, 90%, 1);
    --color-footer: hsl(var(--theme-primary), 69%, 52%, 1);
    --color-onFooter: hsl(var(--theme-primary), 100%, 90%, 1);

    --color-onSurfaceHigh: hsl(0, 0%, 20%);
    --color-onSurfaceMedium: hsl(0, 0%, 40%);
    --color-onSurfaceLow: hsl(0, 0%, 50%);

    --color-onSurfacePrimaryHigh: hsl(var(--theme-primary), 69%, 52%);
    --color-onSurfacePrimaryMedium: hsl(var(--theme-primary), 69%, 52%);
    --color-onSurfacePrimaryLow: hsl(var(--theme-primary), 69%, 52%);

    --color-background: hsl(var(--theme-primary), 100%, 96%);
    --color-onBackgroundLow: hsl(var(--theme-primary), 70%, 70%);
    --color-onBackgroundMedium: hsl(var(--theme-primary), 70%, 60%);
    --color-onBackgroundHigh: hsl(var(--theme-primary), 70%, 50%);

    --color-surface: hsl(var(--theme-primary), 100%, 94%, 0%);
    --color-surface-1: hsl(var(--theme-primary), 100%, 92%);
    --color-surface-2: hsl(var(--theme-primary), 100%, 88%);
    --color-surface-3: hsl(var(--theme-primary), 100%, 86%);
    --color-surface-4: hsl(var(--theme-primary), 100%, 84%);
    --color-surface-5: hsl(var(--theme-primary), 100%, 82%);
    --color-surface-6: hsl(var(--theme-primary), 100%, 80%);
    --color-surface-7: hsl(var(--theme-primary), 100%, 78%);
    --color-surface-8: hsl(var(--theme-primary), 100%, 76%);


    --color-yellow: hsl(41, 89%, 60%);
    --color-red: hsl(354, 100%, 64%);
    --color-green: hsl(148, 68%, 50%);

    --color-onError: hsl(354, 70%, 21%);
    --color-error: hsl(354, 89%, 60%);
    --color-onSuccess: hsl(148, 70%, 21%);
    --color-success: hsl(148, 89%, 60%, 0.8);
    --color-warning: hsl(41, 89%, 60%);
    --color-onWarning: hsl(39, 70%, 21%);
    --color-info: hsl(224, 89%, 60%);
    --color-onInfo: hsl(224, 89%, 93%);

}
