
.liskScan-dim {
    /* LISK KLEUREN TOEGEVOEGD */
    --color-lisk-zodiac-blue: hsl(224, 59%, 11%);
    --color-lisk-ultramarine-blue: #335ed4;
    --color-lisk-ink-blue: hsl(222, 61%, 37%);

    --color-lisk-silver-gray: #c5cfe4;
    --color-lisk-platinum-gray: hsl(218, 42%, 91%);
    --color-lisk-athens-white: hsl(210, 33%, 98%);

    --color-lisk-ufo-green: hsl(148, 68%, 50%);
    --color-lisk-ufo-green-opacity: hsl(148, 68%, 93%);
    --color-lisk-ufo-green-opacity-dark: hsl(152, 30%, 17%);
    --color-lisk-copacabana-yellow: hsl(51, 90%, 70%);
    --color-lisk-candy-pink: hsl(359, 100%, 91%);
    --color-lisk-fury-red: hsl(354, 100%, 64%);
    --color-lisk-white: hsl(0, 0%, 98%);
    /*--color-text: var(--color-morph-2-800);*/

    --color-primaryLight: hsl(var(--theme-primary), 83%, 60%);
    --color-primary: hsl(var(--theme-primary), 77%, 60%);
    --color-primaryDark: hsl(var(--theme-primary), 50%, 50%);
    --color-onPrimary: var(--color-lisk-white);

    --color-onPrimaryHigh: hsl(var(--theme-primary), 100%, 13%);
    --color-onPrimaryMedium: hsl(var(--theme-primary), 90%, 20%);
    --color-onPrimaryLow: hsl(var(--theme-primary), 80%, 38%);

    --color-secondary: hsl(calc(var(--theme-primary) + 180), 69%, 52%, 1);
    --color-onSecondary: hsl(calc(var(--theme-primary) + 180), 90%, 90%);

    --color-onSurfaceLinkHigh: hsl(var(--theme-primary), 80%, 80%);
    --color-onSurfaceLinkMedium: hsl(var(--theme-primary), 70%, 80%);
    --color-onSurfaceLinkLow: hsl(var(--theme-primary), 60%, 80%);

    --color-onPrimaryLinkHigh: hsl(var(--theme-primary), 100%, 13%);
    --color-onPrimaryLinkMedium: hsl(var(--theme-primary), 100%, 13%);
    --color-onPrimaryLinkLow: hsl(var(--theme-primary), 100%, 13%);

    --color-background: hsl(var(--theme-primary), 10%, 17%);
    --color-onBackgroundLow: hsl(var(--theme-primary), 69%, 70%);
    --color-onBackgroundMedium: hsl(var(--theme-primary), 69%, 80%);
    --color-onBackgroundHigh: hsl(var(--theme-primary), 69%, 70%);


    --color-onSurfaceHigh: hsl(0, 0%, 95%);
    --color-onSurfaceMedium: hsl(0, 0%, 60%);
    --color-onSurfaceLow: hsl(0, 0%, 38%);

    --color-header: var(--color-background);
    --color-onHeader: var(--color-background);
    --color-topbar: var(--color-primary);
    --color-onTopbar: var(--color-surface-3);

    --color-menuButton: var(--color-surface-4);
    --color-onMenuButton: var(--color-onSurfacePrimaryMedium);

    --color-infobar: var(--color-primaryDark);
    --color-onInfobar: var(--color-onSurfaceHigh);
    --color-footer: var(--color-primaryDark);
    --color-onFooter: var(--color-onSurfaceHigh);


    --color-onSurfacePrimaryHigh: hsl(var(--theme-primary), 69%, 70%);
    --color-onSurfacePrimaryMedium: hsl(var(--theme-primary), 69%, 60%);
    --color-onSurfacePrimaryLow: hsl(var(--theme-primary), 55%, 52%);

    --color-surface: hsl(0, 5%, 21%, 0);
    --color-surface-1: hsl(0, 5%, 21%);
    --color-surface-2: hsl(0, 5%, 23%);
    --color-surface-3: hsl(0, 5%, 24%);
    --color-surface-4: hsl(0, 5%, 25%);
    --color-surface-5: hsl(0, 5%, 26%);
    --color-surface-6: hsl(0, 5%, 27%);
    --color-surface-7: hsl(0, 5%, 29%);
    --color-surface-8: hsl(0, 5%, 30%);


    --color-yellow: var(--color-lisk-copacabana-yellow);
    --color-red: var(--color-lisk-fury-red);
    --color-green: var(--color-lisk-ufo-green);

    --color-onError: hsl(354, 80%, 13%);
    --color-error: hsl(354, 80%, 60%);
    --color-onSuccess: hsl(148, 68%, 21%);
    --color-success: hsl(148, 68%, 60%);
    --color-info: hsl(224, 89%, 60%);
    --color-onInfo: hsl(224, 68%, 21%);
    --color-warning: hsl(41, 80%, 60%);
    --color-onWarning: hsl(39, 70%, 21%);
}
