
.liskScan-halloween {
    /* LISK KLEUREN TOEGEVOEGD */
    --color-lisk-zodiac-blue: hsl(224, 59%, 11%);
    --color-lisk-ultramarine-blue: #335ed4;
    --color-lisk-ink-blue: hsl(222, 61%, 37%);

    --color-lisk-silver-gray: #c5cfe4;
    --color-lisk-platinum-gray: hsl(218, 42%, 91%);
    --color-lisk-athens-white: hsl(210, 33%, 98%);

    --color-lisk-ufo-green: hsl(148, 68%, 50%);
    --color-lisk-ufo-green-opacity: hsl(148, 68%, 93%);
    --color-lisk-ufo-green-opacity-dark: hsl(152, 30%, 17%);
    --color-lisk-copacabana-yellow: hsl(51, 90%, 70%);
    --color-lisk-candy-pink: hsl(359, 100%, 91%);
    --color-lisk-fury-red: hsl(354, 100%, 64%);
    --color-lisk-white: hsl(0, 0%, 98%);
    /*--color-text: var(--color-morph-2-800);*/

    --color-primaryLight: hsl(var(--theme-primary), 83%, 60%, 1);
    --color-primary: hsl(var(--theme-primary), 65%, 40%, 1);
    --color-primaryDark: hsl(var(--theme-primary), 65%, 35%, 1);
    --color-onPrimary: var(--color-lisk-white);

    --color-onPrimaryHigh: hsl(var(--theme-primary), 100%, 13%);
    --color-onPrimaryMedium: hsl(var(--theme-primary), 100%, 20%);
    --color-onPrimaryLow: hsl(var(--theme-primary), 80%, 30%);

    --color-secondary: hsl(calc(var(--theme-primary) + 180), 69%, 52%, 1);
    --color-onSecondary: hsl(calc(var(--theme-primary) + 180), 90%, 80%);

    --color-onSurfaceLinkHigh: hsl(var(--theme-primary), 50%, 80%, 1);
    --color-onSurfaceLinkMedium: hsl(var(--theme-primary), 50%, 50%, 1);
    --color-onSurfaceLinkLow: hsl(var(--theme-primary), 50%, 50%, 1);

    --color-onPrimaryLinkHigh: hsl(var(--theme-primary), 50%, 50%, 1);
    --color-onPrimaryLinkMedium: hsl(var(--theme-primary), 50%, 50%, 1);
    --color-onPrimaryLinkLow: hsl(var(--theme-primary), 50%, 50%, 1);

    --color-background: hsl(var(--theme-primary), 50%, 4%);
    --color-onBackgroundLow: hsl(var(--theme-primary), 50%, 60%);
    --color-onBackgroundMedium: hsl(var(--theme-primary), 50%, 50%);
    --color-onBackgroundHigh: hsl(var(--theme-primary), 50%, 40%);

    --color-onSurfaceHigh: hsl(0, 0%, 87%);
    --color-onSurfaceMedium: hsl(0, 0%, 70%);
    --color-onSurfaceLow: hsl(0, 0%, 50%);

    --color-onSurfacePrimaryHigh: hsl(var(--theme-primary), 69%, 52%);
    --color-onSurfacePrimaryMedium: hsl(var(--theme-primary), 69%, 52%);
    --color-onSurfacePrimaryLow: hsl(var(--theme-primary), 69%, 52%);

    --color-surface: hsl(var(--theme-primary), 50%, 7%, 0%);
    --color-surface-1: hsl(var(--theme-primary), 50%, 9%);
    --color-surface-2: hsl(var(--theme-primary), 50%, 11%);
    --color-surface-3: hsl(var(--theme-primary), 50%, 13%);
    --color-surface-4: hsl(var(--theme-primary), 50%, 16%);
    --color-surface-5: hsl(var(--theme-primary), 0%, 17%);
    --color-surface-6: hsl(var(--theme-primary), 0%, 17%);
    --color-surface-7: hsl(var(--theme-primary), 0%, 19%);
    --color-surface-8: hsl(var(--theme-primary), 0%, 20%);

    --color-header: var(--color-background);
    --color-onHeader: var(--color-background);

    --color-topbar: var(--color-primary);
    --color-onTopbar: hsla(0, 0%, 100%, 0.75);

    --color-menuButton: var(--color-surface-3);
    --color-onMenuButton: var(--color-onSurfaceHigh);

    --color-infobar: var(--color-primaryDark);
    --color-onInfobar: hsla(0, 0%, 100%, .7);

    --color-footer: var(--color-background);
    --color-onFooter: hsl(var(--theme-primary), 100%, 90%, 1);


    --color-yellow: var(--color-lisk-copacabana-yellow);
    --color-red: var(--color-lisk-fury-red);
    --color-green: var(--color-lisk-ufo-green);

    --color-onError: hsl(354, 50%, 14%);
    --color-error: hsl(354, 60%, 50%);
    --color-onSuccess: hsl(148, 58%, 13%);
    --color-success: hsl(148, 88%, 40%);
    --color-info: hsl(226, 74%, 65%);
    --color-onInfo: hsl(224, 89%, 93%);
    --color-warning: hsl(41, 89%, 60%);
    --color-onWarning: hsl(39, 70%, 21%);
}
