:root {
    --app-width: 1280px;
    --theme-primary: 340;
    --theme-secondary: 262;
    --surface-shadow: var(--theme-primary) 10% 20%;
    --shadow-strength: .02;

    --box-shadow-1: rgba(0, 0, 0, 0.08) 0px 4px 12px;;
    --box-shadow-2: 0 3px 6px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .12)), 0 3px 6px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .23));
    --box-shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    --box-shadow-4: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));
    --box-shadow-5: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);


    --shadow: 0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength));

    --color-yellow: var(--color-lisk-copacabana-yellow);
    --color-red: var(--color-lisk-fury-red);
    --color-green: var(--color-lisk-ufo-green);

    --color-onError: hsl(354, 100%, 64%);
    --color-error: hsl(354, 100%, 93%);
    --color-onSuccess: hsl(148, 68%, 50%);
    --color-success: hsl(148, 68%, 93%);
    --color-info: hsl(224, 89%, 60%);
    --color-onInfo: hsl(224, 89%, 93%);

    --color-lisk-zodiac-blue: hsl(224, 59%, 11%);
    --color-lisk-ultramarine-blue: #335ed4;
    --color-lisk-ink-blue: hsl(222, 61%, 37%);

    --color-lisk-silver-gray: #c5cfe4;
    --color-lisk-platinum-gray: hsl(218, 42%, 91%);
    --color-lisk-athens-white: hsl(210, 33%, 98%);

    --color-lisk-ufo-green: hsl(148, 68%, 50%);
    --color-lisk-ufo-green-opacity: hsl(148, 68%, 93%);
    --color-lisk-ufo-green-opacity-dark: hsl(152, 30%, 17%);
    --color-lisk-copacabana-yellow: hsl(51, 90%, 70%);
    --color-lisk-candy-pink: hsl(359, 100%, 91%);
    --color-lisk-fury-red: hsl(354, 100%, 64%);
    --color-lisk-white: hsl(0, 0%, 98%);
}

